.contenedorPadre {
    height: fit-content;
    width: 100%;
    display: flex; 
    justify-content: center;  
    align-items: center;  
    background-color: #ddd;
}
.contenedorHijo {
	padding-top: 2%;
}

h1{
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	text-transform: uppercase; /*para que seponga todo en MAYUSCULA*/
	font-weight: 700;
	font-size: 22px;
	padding: 10px;
}
.form{
    background-color: rgb(177, 216, 216);
	margin: auto;  /*para que el form siempre este centrado en la pagina*/
	box-shadow: 0 0 55px rgba(17, 17, 17, 0.911); /*sombreado del formulario en blanco*/
	margin-top: 50px;
	border-radius: 8px;
	margin-bottom: 40px;
}
.input{
	padding: 6px 20px;  
}
input,textarea{
	width: 100%;
	box-sizing: border-box;
	padding: 6px 8px;
	border: none;
	border-left: 1px solid #0a0a0a;   /*color del borde de la izquierda*/
	background-color: rgb(234, 245, 245);
	border-radius: 4px;
	color: #000;
}
 
textarea{
	min-width: 100%;
	resize: none;
	min-height: 102px;
	font-family: sans-serif;
}

.label{
	font-size: 18px;
	line-height: 2; 
}
.boton{
    font-weight: bold;
    color: blue;
    font-size: 20px;
    background-color: aqua;
    padding: 10px;
    margin: 20px;
}

.boton:hover{
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    transition: background-color 1s;
    transition: color 0.5s;
}