.contenedor {
    height: fit-content;
    width: 100%;
    background-color: #ddd;
    display: flex; 
    justify-content: center;  
    align-items: center;  
    padding-top: 5% ;
    padding-bottom: 2% ;
}

.contenedorDetalle{
    width: 50% ;
    height: fit-content ;
    background-color: rgb(167, 158, 158);
    border-radius: 20px;
    margin: auto;
}

.content{
    padding: 20px;
    margin: 0px;
}

.subtitulo{
    padding-left: 20px;
}

.Btn{
    margin-bottom: 20px;
}