.Home {
    background: url(https://th.bing.com/th/id/OIP.DN01MNXQvhCpp-weivn7DAHaFQ?w=232&h=180&c=7&r=0&o=5&pid=1.7);
    background-repeat: no-repeat;
    background-size: 100% , 50% ;
    height: 100dvh;
    width: 100%;
}

.Titulo {
    padding-top: 10%;
    font-size: 40px;
    font-weight: 700;
}
 