.Home {
    background: url("img/Sport.jpg");
    background-repeat: no-repeat;
    background-size: 100% , 50% ;
    height: 100dvh;
    width: 100%;
}

.Titulo {
    padding-top: 1%;
    font-size: 40px;
    font-weight: 700;
}
 