.topnav{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.links-start{
    text-align: center;
    padding: 10px;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.links-start:hover{
    background-color: #d6d4d050;  /*afecta solo al botom de inicio*/
    border-radius: 10px;
}

.links-end a{
    color: white;
    text-align: center;
    padding: 10px;
    transition: background-color 1s ease;
    border-radius: 20px;
    margin: 5px;
}

.links-end a:hover{
    background-color: #c0bfbf2a;
    color: rgb(75, 179, 248);
}